{
  "check-coverage": true,
  "per-file": true,
  "include": [
    "packages/**/lib/*.js"
  ],
  "exclude": [
    "packages/**/__tests__/*.js"
  ],
  "reporter": [
    "lcov",
    "html",
    "text"
  ],
  "report-dir": "./coverage",
  "temp-directory": "./tmp"
}
